*{
    padding:0%;
    margin: 0%;
}

.one{
    color: aliceblue;
    background-color: black;
    padding: 10px;
}
h1,ul,li{
    display: inline;
}
ul
{
    margin-left:65%;
    color: grey;
}
li:hover{
    color: aliceblue;
    cursor: pointer;
}
input
{
    padding: 15px;
    width: 60%;  
}
.two
{
    text-align: center;
    margin: 50px;
}
.three
{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width:200px;
}
.three:hover
{
    background-color: black;
    color: aliceblue;
}
.yoo
{
    margin-left:25%;
    margin-bottom: 30px;
}
.five
{
    width:30%;
}
.seven
{
    background-color: black;
    color: antiquewhite;
    margin: 20px;
}








